body
	div.container
		div.title
			h1 Your daily summary...

		div.email
			for row in emails
				div.row
					for email in row
						div.item
							h1= email.from[0].name
							h2= email.subject
							img(src="./"+email.imgName+".jpg")