@import "includes/foundation-emails"
	
.marginTop
	margin-top: 1em

.body
	font-family: 'Helvetica', 'Verdana', 'Sans Serif'
	
.title
	background-color: #111
	h1
		padding-top: .5em
		color: white
		text-align: center
		
.iheartgithub
	background-color: #888
	p
		margin: 0
		color: white
	p:first-of-type
		margin-top: 1em
		
.item
	h1,h2 
		background-color: #666
		margin: 0
		padding-left: 10px
		padding-right: 10px
		
	h1
		font-size: 1.5rem
		padding-top: 10px
		border-top-right-radius: 10px
		border-top-left-radius: 10px
		
	h2
		font-size: 1rem
		padding-bottom: 10px
	
	img
		border-bottom-left-radius: 10px
		border-bottom-right-radius: 10px
